YeetLifeRP Rules
We the People of the City of Yeetlife, in Order to form a more perfect Union, establish Justice, ensure domestic Tranquillity, provide for the common defence, promote the general Welfare, and secure the Blessings of Liberty to ourselves and our Posterity, do ordain and establish this Constitution for the Yeetlife City]

**Community Respect**

This is the first and most important rule, as most (if not all) other rules fall under this one. You should be respectful to the other players and administrators. You should always keep in mind that whatever you do in-game, it should not infringe on others capacity to enjoy the game. Please remain respectful to all members of our community on all our official community platforms (in-game servers, Forums, Discord)
Do Not
• Use racist/homophobic/derogatory/overly sexual remarks in, or out, of character
• Repeatedly send someone angry or offensive out-of-character messages because of and in-character subject or event
• Harass a player outside of game after they have requested you not to for any reason
• No Death match allowed including RDM and VDM by anyone or in any area
• If anyone is revived at a scene, you are required to leave the scene once picked up. You are no longer a part of that scene, that includes police as well.

**Character Creation and Property**

Character names must be realistic and resemble real world names.
Character must not be default Danny (just joining the server and not making an actual character)
Players may not scam or deceive other players out of character for their property.                                                                    Players may not transfer assets to other players or to other characters they own without proper IC reason. Doing so will be treated as Real World Trading (RWT) unless approved by an admin.
Harassment and Knowledge of Rule Breaches
• It is prohibited to leak personal information of another person or to make such threats.
• It is prohibited to intimidate players from playing on the server or to continuously harass them in the game for OOC reasons to purposely make their game experience poor.

**Hacking and Exploits**

• Players must not have mods, trainers, or any kind of software installed that gives any advantage. This includes any kind of hack to take down the server and reticles added by third party software and programs included with monitors.
Server scripts should not be exploited in any way to your advantage, e.g. circumventing AFK timer or adding something to your screen to replicate a crosshair.
Combat logging to get your health back including f8 quit or by any other means.



**IC and OOC Interactions**

• Players are required to remain in-character (IC) at all times.
• Text chat, phone and commands like /ME are to be used only for IC content.
• You may roleplay a hidden camera, wire, or dash cam in a vehicle if recordings are unedited and include roleplay starting and ending. Attempts to search must be answered 
truthfully in /me 
TWITTER IS FOR GENERAL CHAT AND IS FREE
ADVERTS ARE $10,000
OOC IS FOR INGAME HELP ONLY! 
ADMIN REQUESTS WILL BE ONLY TAKEN NOTICE OFF IN /report
Only administrators are allowed force pause RP or investigate rule breaches.
Players are welcome to voice their opinion but should never disobey administrators.

**Metagaming (MG)**

• Metagaming is the act of relaying IC information through any method not considered IC that has the potential to change current or future roleplay scenarios or using that information.
• Mixing IC and OOC information without any benefit is a minor MG offense. For example, a player uses IC chat to call someone by their player ID displayed above their head.

**Power gaming (PG)**

Forceful roleplay that does not give the other player a chance to roleplay their own response is considered power gaming. Other players must be given a chance to roleplay outcomes of actions.
Roleplay of unrealistic actions like super strength is another form of power gaming.
All statements in /ME must be factually true in the roleplay as it sets grounds for roleplay.
Roleplay is required before forceful server commands which may be uwithout consent from the other party if they are unresponsive and not typing for 30 seconds or more.

**New Life Rule (NLR)**

The new life rule is triggered whenever a player’s character spawns at a hospital. Players cannot force their own death.
The deceased character loses memory of their death, the events that caused it and the information collected in that time frame. (30 Minutes)
Example: A player is killed in a robbery. The players knowledge of the robbery, the robber and their death are not usable by the player in their new life.
All parties involved must avoid interaction with each other for 30 minutes. A player must not return to the area of their death for that time frame or attempt to retrieve lost possessions from involved players. An exception is made for government faction members who may provide a faction duty service, though their memory being lost and inability to retrieve assets still apply.

**Fear Roleplay (FRP)**

Fear roleplay is the concept of roleplaying fear for your characters safety and life.
Examples (but not limited to), where your characters life is considered to be in direct danger:
- When you are on foot or bike and a weapon is aimed at you at close range.
- When you're in a vehicle that is stalled or turned off and a weapon is aimed at you close range.
- When the attacker lowers their weapon to type or roleplay, your life remains in direct danger.
- Driving a vehicle in an active shootout more than once without the intent of protecting a friend, fleeing with it, or using it as cover.
- All emergency personnel are expected to Fear Roleplay if you are found to not fear roleplay then actions will be taken against you
- At the present moment EMS cannot be taken hostage or killed (Subject to change)
Examples (but not limited to), where your characters life is NOT considered to be in direct danger:
- When you are in a car which engine is not stalled.
- When you have a firearm drawn and are facing the other person before they attacked.
- When the attackers view is obstructed by an object or when they turn their back on you.
As a victim, whose life is in direct danger:
- You must display reasonable value for your life and comply with the demands of your attacker.
- You cannot call 911 or call your friends or allies to aid you.

**Medical Roleplay**

EMS are not to be robbed, killed or taken hostage
EMS are not to be involved or near any crimes.
All EMS must go to all calls. Except at Traps where EMS will ask for Police escort. If no escort is available EMS will not enter Blue circle of a trap but can set up base outside area.
EMS will not revive players with a bpm less than 5. But other none EMS members can take them to hospital
It is asked of all players to rp out their injuries in a manner that makes sense and to the best of their abilities.

**Combat Log / Purposeful Disconnect**

When engaged in active roleplay players shall not disconnect from the server until the scenario has completely ended. Characters involved in criminal activity must be completely clear of any Law Enforcement interaction before disconnecting. Accidental disconnects should be communicated via Discord. And on reconnection player should report to police station ect.

**Unrealistic Revival**

When you are revived, you’re in medical custody until a member of EMS releases you. You may not simply run off once revived by a medic. Police will follow you to the hospital and can take firearms from you before you head to the hospital. Once you are revived, you may not jump up and instantly start shooting police again, you were downed and you lost the fight and it’s unrealistic to recover that quickly.

**Red Zone-Specific Rules** 

- Hostages are not to be taken into the Red zones.
- For Red zone-specific rules to apply, both shooter and victim must be inside the Red zone.
- You may not flee in to a red zone when in a police pursuit / initiation.
- Anyone who exits the red zone is still initiated upon until the RP is finished with either suspect being killed or police lose suspect in chase.
- Red zones consist of Trap houses, Criminal HQ's, and Drug spots (farming, process and selling).
- EMS are allowed at red zones under police escort only!
Rules Regarding Bank Robberies
- You must talk to the police negotiator on shout and you may not take him/her hostage or harm him/her until negotiations are called off.
- There must be at least 20mins between each bank robbery, and multiple bank robberies are not allowed at the same time.
- All bank robbers must be inside the bank.
- Bank Robberies Must have 5 cops online Big Bank (4 little Banks).

**Rules Regarding Jewelery Store, Retail Store, Yacht and Ammunation Robberies**

- You must talk to the police negotiator on shout and you may not harm the negotiator.
- All store robbers must be inside the store, or on the Yacht.
- Store and Ammunation robberies must have 2 cops online to rob.
- The Yacht robbery must have 3 cops online to rob.

**Police Encounters**

- No Cop Baiting
- No 911 prank calls
- Falsely calling the police.
- Calling police and leaving the area.
- Sending blank messages.
- Running from the police with NO roleplay story behind is Cop Baiting.
- Coming back to a crime scene is considered Cop Baiting and Fail RP; you must RP as if there are reinforcements coming NO MATTER WHAT.
- If you are in a situation and are either told to leave or you escape, you can NOT return to the same crime scene. (Be Smart… Go hide out)
- In order to take a cop hostage in the city, there has to be at least 5 cops online to do so.

**Traffic Stops**

- You can NOT shoot a cop for a simple traffic stop. 
- They will most likely let you go with a warning if you give them good RP.
- If you are NOT involved in the situation you should NOT be running up to the active scene and interject yourself into the roleplay. Remember to value your life.
- You do NOT need to run from the Police every time they try and pull you over.
- If you are only being pulled over for speeding or running a red light and you have Weed, Coke, Meth Bags etc, you are NOT going to be searched.
- BUT if you run and evade the Police you are going to be searched and if you have those items or Illegal Weapons you will be arrested all because you didn't stop for running a red light or speeding. 
- They cannot search your trunk or person unless you give them a reason.
- Police need Probable Cause to Search you or your Vehicle.

**Arrested or Detained**

- You may be detained, that doesn’t mean you will be arrested.
- You may be a witness.
- You may be a Vehicle Passenger in a Felony Stop.
- You were a hostage in a Robbery.
- Police will detain everyone, so they can figure out who is who, get witness statements and collect evidence.
- You May be “Patted Down” for ONLY Weapons and large quantities of substances.
- You will only be search for DRUGS IF;
     - Police see you perform a “Hand to Hand” Transaction
     - You agree to letting them search you.
- Police can NOT cuff you if you are down unless there is an EMS on scene and is able to pick up the suspect.

**YEETLIFE RP ABUSE OF RULES STAGES OF WARNINGS AND ALSO CHANGES TO HOW VOTING MAKES UP OUR RULES**

First report = warning
Second report = 48hr ban
Third report = lifetime ban

All rules are reviewed every 2 weeks. For changes to be made a vote between Admins is made. And rules can only be made with a vote of 80%. Also percentage = admins + 1 divided by 100 = admins amount and Blaze has 2x votes
Example 5 admins + 1 = 6 (100 Divided 6 =16.6 ) so each admin has a 16.6% vote and Blaze has a 33.3% vote

**LOSS OF ITEMS**

For inventory refund/replacement we will require recent screenshots to properly give back items previously lost. Please #open-a-ticket if you need to report inventory loss.

**EMS ADDED RULES**

THESE ARE THE RULES THAT ARE TO BE FOLLOWED, FAILURE TO FOLLOW THEM WILL RESULT IN A WARNING FOR FIRST TIME OFFENCE, SECOND TIME YOU WILL BE SUSPENDED AND FOR THE THIRD TIME YOU WILL LOSE YOUR JOB.
1. EMS MUST use the /med command for every call. 0-5BPM cannot be picked up unless it is a FAILRP situation or an Admin instructs you to pick them up. 
2. If you are on duty you MUST be in EMS voice chat. We cannot afford to have all of our EMS responding to 1 call. 
3. If we have 3 or more EMS on duty one will be stationed up north to assist the Sheriffs up there. Unless we have a flight medic who can use the helicopter, then it will be 2 online, one to man the ground in a truck and one to man the helicopter to take calls up north. 
4. You CANNOT be on duty in your personal vehicle, you MUST use your EMS truck to respond to calls. (this also applies to your uniform, don't be driving around in uniform in your personal vehicle unless it's to the clothing store to change and back to the garage to get your EMS truck) 
5. EMS will not be adding in billing, if we bill, the money does not come back to the person who responded to the call. You may ask for Tips instead but do not get upset if someone decides to say no. REMEMBER we are an emergency service here to help the people of the city. 
6. EMS is NOT allowed to carry any sort of deadly weapon, if you are caught with one it will be taken and turned into the Police. 
7. EMS CANNOT Carry weapons on their back (ie. Beanbag Shotgun)

**POLICE ADDED RULES**

All Emergency and Law Enforcement Vehicles cannot be stolen at any point, Cops can be looted as long as legitimate RP is involved. This is not expected in rezones as it is Kill on sight. 
In order to take a cop hostage in the city, there has to be at least 5 cops online to do so. 
Do not attempt to take someone hostage in a safe zone as it defeats the purpose of the safety of that player and the safe zone. When dropping someone off at the hospital to be checked in, you must release(drop) the person once they check in, otherwise you can cause said person to respawn in another area of the city and not the original intended hospital bed.

